*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }
  body{
      background-color:white; 
    }
  
    h1{
      font-family: Cambria;
      text-align: Center;
      background-color: rgba(151, 0, 206);
      color: white;
      padding: 1%;
      margin: 0 px;
      font-size: 200%;
    }
  
    h2{
      font-family: Cambria;
      text-align: center;
      color: black;
      size: 15 px;
    }
  
    p1{
      font-family: Cambria;
      text-align: Left;
      color: black;
    }
   
  
  footer{
    text-align: center;
  }
  
  
  
  .container{
    width: 90%;
    height: 550px;
    margin: 0 px auto;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
  }
  
  .insertData{
    width: 50%;
    height: 90%;
    text-align: center;
    margin-top: 20px;
   
  }
  
  .cardContainer{
    width: 50%;
    /* height: 80px; */
    margin-top: 20px;  
  }
  
  .card{
    width: 400px;
    margin-left: 15%;
  }
  
  .aligText{
    width: 60%;
    height: 100%;
    margin-left: 35%;
    font-size: 20px;
    line-height: 2.2;
    }
  
  nav img{
    width: 90px;
    position: absolute;
    top: 5px;
    left: 8%;
    }
  
  nav{
    height: 80px;
    width: flex;
  }
  
  nav ul{
    float: none;
    margin-right: 0px;
    background-color: rgb(151, 0, 206);
  }
  
  nav ul li{
    display: inline-block;
    line-height: 3;
    margin: 0px;
    justify-content:center;
    margin-left: 20%;
  }
  
  nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #submit{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: rgba(255, 251, 0);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid none;
    float: left;
  }
  
  #reload{
    width: 150px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(238, 140, 241);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid none;
    float:right;
  }
  
  #name , #inputNumber{
    background-color: rgb(229, 212, 245);
    border: none;
    height: 30px;
    width: 70%;
  }
  
  #validAlert{
     font-family: Cambria;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }